@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0d0d1a;
  color: #e2e8f0;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #1a1a2e; }
::-webkit-scrollbar-thumb { background: #a855f7; border-radius: 999px; }